h1,h2,h3,p,body {
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
}

* {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 5px solid blue;
    align-items: baseline;
}

.block {
    display: flex;
    align-items: center;
}

.div {
    width:11%;
    margin-right: 10px;
    border: 1px solid rgb(216, 210, 210);
    border-radius: 3px;
}

.div1 {
    line-height: 1.4;
}

.div2  button{
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
    border: 1px solid rgb(184, 180, 180);
    border-radius: 3px;
    color: #03776d;
    background: transparent;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}

.block1 {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.div3 {
    width: 100%;
    background: #eaeaf4;
    padding: 10px 15px;
}

.div3 a {
    text-decoration: none;
    font-size: 1.4em;
    color: black;
}

.div4 {
    width: 25%;
    font-size: 1em;
    background-color: #eaeaf4;
    padding: 14px;
    border-left: 2px solid #777777;
    margin-right: 15px;
    
}

.div5  button{
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 4px 45px;
    border: 1px solid rgb(184, 180, 180);
    border-radius: 3px;
    color: white;
    background: #04796f;
}

.section1 {
    text-align: center;
}

.section1>h1 {
    margin: 50px;
}

.block2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0px;

}

.div6 {
    width: 22%;
    border: 1px solid rgb(230, 224, 224);
    border-radius: 5px;
    text-align: center;
}

.div6 p {
    font-size: 1em;
    color: #eaeaf4;
    background: #505050;
    padding: 13px;
}

.div6 img {
    height: 50%;
    padding: 15px;
}

.block3 {
    text-align: center;
    font-size: 1.2em;
    padding: 20px;
}

.section2 {
    text-align: center;
}

.section2>p {
    color: blue;
}

.section2>h1 {
    margin: 35px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.block4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 22%;
    text-align: left;
    align-items: center;
    gap: 10px;
    margin: 20px;
    font-size: 1.1em;
}

.block4>div>span {
    color: gray;
}

.block4 i {
    width: 25px;
    height: 25px;
}
