h1,h2,h3,p,body {
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
}

* {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 5px solid blue;
    align-items: baseline;
}

.block {
    display: flex;
    align-items: center;
}

.div {
    width:11%;
    margin-right: 10px;
    border: 1px solid rgb(216, 210, 210);
    border-radius: 3px;
}

.div1 {
    line-height: 1.4;
}

.div2  button{
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border: 1px solid rgb(184, 180, 180);
    border-radius: 3px;
    color: #03776d;
    background: transparent;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}

.block1 {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sm_nav {
    display: none;
    text-align: center;
}

.button {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
}

.div3 {
    width: 60%;
    padding: 10px;
    position: absolute;
    color: black;
    background-color: #f9ece6;
    z-index: 1;
    left: 10px;
    margin: 10px;
}

.sm-content a {
    color: black;
    padding: 10px 0px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.button:hover .div3 {
    display: block;
} 

.div3 a {
    text-decoration: none;
    font-size: 1.4em;
    color: black;
    padding: 10px;
}

a.active {
    background-color: #2d3192;
    color: white;
    
}

.div4 {
    width: 10%;
    position: relative;
    font-size: 1em;
    background-color: #eaeaf4;
    border-left: 2px solid #777777;
    margin-right: 15px;
}

.div4 input {
    padding: 15px;
    padding-left: 30px;
    background: transparent;  
    border: none; 
}

.div4 i {
    color: #3cb5be;
    position: absolute;
    padding: 15px;
    left: -5;
}

.div5  button{
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    border: 1px solid rgb(184, 180, 180);
    border-radius: 3px;
    color: white;
    background: #04796f;
}

.section1 {
    text-align: center;
}

.section1>h1 {
    margin: 50px;
}

.section1>span {
    width: 5%;
    color: blue;
}

.block2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0px;

}

.div6 {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 22%;
    border: 1px solid rgb(230, 224, 224);
    border-radius: 5px;
    text-align: center;
    padding-bottom: 50px;
}


.gallery-label {
    position: absolute;
    bottom : 0;
}

.div6>p, .div6>.gallery-label {
    width: 100%;
    height: 20%;
    font-size: 1em;
    color: #eaeaf4;
    background: #505050;
    padding: 13px;
}

.div6 button {
    display: none;
    width: 50%;
    padding: 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color:  #505050;;
    color: white;
}



.div6:hover button {
    display:inline-block;
}

.div6 img {
    width: 250px;
    height: 250px;
    padding: 15px;
}

.block3 {
    text-align: center;
    font-size: 1.2em;
    padding: 20px;
}

.section2 {
    text-align: center;
}

.section2>p {
    color: blue;
}

.section2>h1 {
    margin: 35px;
}

.section2>span {
    background: blue;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.block4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 22%;
    text-align: left;
    align-items: center;
    gap: 10px;
    margin: 20px;
    font-size: 1.1em;
}

.block4>div>span {
    color: gray;
}

.block4 i {
    width: 25px;
    height: 25px;
}

.section3 {
    text-align: center;
}

.section3>button {
    font-size: 16px;
    padding: 13px;
    margin: 30px;
    color: rgb(158, 156, 156);
    background: transparent;
    border: 1px solid rgb(116, 114, 114);
    border-radius: 3px;
}

.block5 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.div7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    width: 22%;
    color: rgb(151, 149, 149);
    text-align: center;
    border: 1px solid rgb(224, 219, 219);
    border-radius: 3px;
   

}

.div7 img {
    width: 250px;
    height: 250px;
    padding: 10px;  
}

.div7 h1 {
    color: blue;
    padding: 15px;
}

.section4 {
    text-align: center;
}

.section4>h1 {
    padding-bottom: 30px;
}

.section4>button {
    font-size: 16px;
    padding: 13px;
    margin: 30px;
    margin-top: 5%;
    color: rgb(158, 156, 156);
    background: transparent;
    border: 1px solid rgb(116, 114, 114);
    border-radius: 3px;
}

.block6 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.div8 {
    width: 22%;
}

.div9 {
    height: 100%;
    border: 1px solid rgb(185, 182, 182);

}

.div9 img {
    width: 250px;
    height: 200px;
    padding: 0px 20px;
}

.section5 {
    max-width: 800px;
    margin: auto;
    border: 1px solid rgb(224, 223, 223);
    border-radius: 5px;
    margin-bottom: 30px;
}

.section5>.div10:first-child {
    color: white;
    background: #2d3192;
    font-size: 20px;
}

.div10 {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(224, 223, 223);
    padding: 10px 0px;
    font-size: 18px;
    color: rgb(158, 156, 156);
    
}

.div10>span:first-child {
    width: 20%;
    padding-left: 50px;
}

.div10>span:last-child {
    width: 80%;
}

.div11 {
    color: white;
    background: #2d3192;
    padding: 10px;
    margin-top: 20px ;
}

.section6 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #eaeaf4;
    padding: 10px;
}

.block7 {
    max-width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.1rem;
    line-height: 1.5;
    

}

.div12 {
    width: 30%
}

.div13 {
    width: 60%;
}

.div13 p>span {
    color: #589ee9;
    text-decoration: underline;
}

.div13>span {
    color: #777777;
    font-size: 20px;
}

#gc {
    color: #4caf50;
    font-size: 14px;
    margin-left: 20px;
}

.div14 {
    margin-top: 20px;
}
.div14 button{
    padding: 7px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid rgb(26, 25, 25);
}

.div14>button:first-child  {
    background-color: #777777;
    color: #ffffff;
    border: none;
    padding: 8px;
}

.div15 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.div16 img {
    width: 25px;
    height: 25px;
}

.div17 {
    font-size: 20px;
    margin: 0px 40px;
}

.block8 {
    max-width: 40%;
    background-color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

.block8 h1 {
    color: #2e3192;
}

.pr {
    position: relative;
}
.pr>label {
    position: absolute;
    top: 20%;
    left: 75px;
}

.pr1 {
    position: relative;

}

.pr1>label {
    position: absolute;
    top: 14%;
    left: 75px;
}
.block8 input {
    width: 65%;
    padding: 20px;
    margin: 10px;
}

.block8 button {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    background: #777777;
    border: none;
}

.section7 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.div18 {
    font-size: 20px;
    padding: 30px 10px;
}

.div19 {
    font-size: 20px;
}

.div19 img {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width:992px) {
    
    .wrapper {
        justify-content: left;
    }

    .block4 {
        width: 28%;
    }

    .div7 {
        justify-content: left;
        width: 30%;
    }

    .div9 img {
        width: 210px;
        height: 200px;
        padding: 0px 10px;
    }

    .block5 {
        justify-content: left;
    }

    .section4>button {
        margin: 20px;
        margin-top: 10%;
        
    }

    .block7 {
        width: 100%;
    }

    .div12 {
        width: 45%;
    }

    .div13 {
        width: 70%;
    }

    .block8 {
        width: 50%;
    }


}

@media only screen and (max-width:768px) {

    * {
        font-size: 1.1rem;
    }

    .block1 {
        width: 70%;
    }


    .div4 {
        display: none;
    }

    .wrapper {
        justify-content: left;
    }

    .block2 {
        grid-row-gap: 20px;
    }

    .block4 {
        width: 43%;
    }

    .div6 {
        width: 40%;
    }

    .div6 img {
        width: 100%;
    }

    .div7 img {
        width: 100%;
    }

    .div8 {
        width: 41%;
    }

    .section4>button {
        margin-top: 10%;    
    }


    .block5 {
        justify-content: left;
        margin: 40px;
        gap: 32px;
    }

    .block6 {
        gap: 50px;
    }

    .div8 {
        width: 40%;
        margin: 20px;
    }

    .pr1>label {
        
        left: 55px;
    }

}

@media only screen and (max-width:600px){
    
    .block1 {
        display: none;
    }

    .sm_nav {
        display: inline-block !important;
    }

    .nav_content a {
        display: block;
    }

    .div2 {
        display: none;
    }

    .div3 {
        display: none;
    }


    .div5 {
        display: none;
    }

    .div6 {
        width: 45%;
    }

    .block4 {
        width: 43%;
    }

    .div7 {
        width: 46%;
    }

    .div8 {
        width: 82%;
    }

    .div8 img {
        width: 350px;
    }

    .block7 {
        width: 100%;
    }

    .div12 {
        width: 85%;
    }

    .div13 {
        width: 100%;
    }

    .block8 {
        width: 100%;
    }

    .block8 input {
        width: 100%;
        padding: 20px;
        margin: 10px;
    }

    .pr>label {
        left: 20px;
    }

    .pr1>label {
        left: 20px;
    }

    .section7>div {
        width: 100%;
    }
}
